<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h1>To <%= @orderVar.email %> </h1>
        <p>
            Your order ID is <%= @orderVar.id %>
        </p>
    <p> Thanks for your purchase! </p>
</body>
</html>